<h1>Sign in</h1>

<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path(state: Base64.encode64(user_google_oauth2_omniauth_callback_url)), class: "btn btn-primary", method: :post %>
