<h1>Import from which account?</h1>

<ul>
  <% @github_installations.each do |github_installation| %>
    <li><%= link_to github_installation.name, github_installation %></li>
  <% end %>
</ul>

<%= link_to "Add another account", url_for_github_app(callback_url: root_url) %>
