<h1>Import from which account?</h1>

<ul>
  <% @github_installations.each do |github_installation| %>
    <li><%= link_to github_installation.name, github_installation %></li>
  <% end %>
</ul>

<%= link_to "Add another account", "https://github.com/apps/#{ENV.fetch('GITHUB_APP_NAME')}/installations/new?state=lol" %>
