<h1><%= @github_installation.name %></h1>

<ul>
  <% @available_repositories.each do |repository| %>
    <li>
      <%= repository.fetch("name") %>
      <% if @existing_repository_ids.include? repository.fetch("id") %>
        (imported)
      <% else %>
        <%= button_to "Import", repositories_path(github_installation_id: @github_installation.id, github_repository_id: repository.fetch("id")), method: :post %>
      <% end %>
    </li>
  <% end %>
</ul>
