<script src="/vendor/highcharts.min.js"></script>
<div id="chart"></div>
<script>
  Highcharts.chart('chart', {
    chart: {
      zoomType: 'x'
    },
    title: {
      text: null
    },
    subtitle: {
      text: null
    },
    xAxis: {
      type: 'datetime'
    },
    yAxis: {
      title: {
        text: 'Lines of code'
      }
    },
    legend: {
      enabled: true
    },
    series: <%=raw highchart_series(@chart_data, @frequency) %>
  })
</script>
