<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<h1>Dashboard</h1>

<h2>Lines of code per repo</h2>

<ul>
  <% @repos_loc.each do |repo_loc| %>
  <li><%= repo_loc.repo %> <%= repo_loc.loc %></li>
  <% end %>
</ul>

<canvas id="chart"></canvas>

<script>
  // var tokeiDump =

  // var ctx = document.getElementById('chart').getContext('2d');
  // var chart = new Chart(ctx, {
  //   type: 'line',
  //   data: {
  //       labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
  //       datasets: [{
  //           label: 'Ruby',
  //           data: [0, 10, 5, 2, 20, 30, 45]
  //       },
  //       {
  //           label: 'JavaScript',
  //           data: [10, 12, 14,17, 20, 16, 47]
  //       }
  //       ]
  //   },
  //   options: {}
  // })
</script>