<h1>New filter</h1>

<%= form_for @filter do |f| %>
  <p><%= f.text_field :name, placeholder: "Name..." %></p>

  <p><%= f.text_area :sql, placeholder: "match(path, '^\./(app|lib|client|src)/') AND NOT match(path, '\.spec\..{2,3}$')", cols: 80, rows: 10 %></p>

  <%= f.submit "Create", disable_with: 'Creating...' %>
<% end %>
